<a href="https://colab.research.google.com/github/Mrigakshi24-ux/Training-Sheet/blob/main/Content_based_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/content/drive/MyDrive/tmdb_5000_credits.csv')
df2 = pd.read_csv('/content/drive/MyDrive/tmdb_5000_movies.csv')

In [3]:
df1.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [4]:
df2.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [5]:
df1.columns = ['id', 'title', 'cast', 'crew'] # renaming 'id' so that it matches in both dfs
data = df1.merge(df2, on ='id') # merging horizontally

data = data.drop(['title_x'], axis =1) # title_x, title_y created when merging due to same name, remove them

In [6]:
data.head(2)

      id  ... vote_count
0  19995  ...      11800
1    285  ...       4500

[2 rows x 22 columns]

- For content based filtering, we compute pairwise similarity between all the movies based on their attributes. 
- Convert the words to vector initially.
- Compute TF-IDF.

In [7]:
# checking the null rows
data['overview'].isnull().sum()

3

In [8]:
# tf-idf
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
data['overview'] = data['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(data['overview'])
tfidf_matrix.shape

(4803, 20978)

In [9]:
# vocabulary of the entire dataset
feature_names = list(tfidf.get_feature_names_out())
feature_names[:10]

['00', '000', '007', '07am', '10', '100', '1000', '101', '108', '10th']

In [10]:
# tf-idf returns an array with columns represnting all the unique words whereas rows represent the document, here taking the movie name the overview belongs to. 
df = pd.DataFrame(tfidf_matrix.todense(), index=list(data['title_y']), columns=feature_names)
df.head()

                                           00  000  007  ...  été  única  über
Avatar                                    0.0  0.0  0.0  ...  0.0    0.0   0.0
Pirates of the Caribbean: At World's End  0.0  0.0  0.0  ...  0.0    0.0   0.0
Spectre                                   0.0  0.0  0.0  ...  0.0    0.0   0.0
The Dark Knight Rises                     0.0  0.0  0.0  ...  0.0    0.0   0.0
John Carter                               0.0  0.0  0.0  ...  0.0    0.0   0.0

[5 rows x 20978 columns]

In [11]:
# cosine similarity to determine similarity between two movies.
# use linear_kernel as it is fast

from sklearn.metrics.pairwise import linear_kernel

# will give pairwise similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [12]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [13]:
# creating a reverse map for titles to indices
map_reverse = pd.Series(data.index, index = data['title_y']).drop_duplicates()

In [16]:
def recommend_movie(title, cosine_sim = cosine_sim):

  # index of the input movie
  index_movie = map_reverse[title]

  # get pairwise similarity of all the movies with respect to the given movie.
  sim_scores = list(enumerate(cosine_sim[index_movie])) # enumerate so that along with the scores, it picks up the index of the movie.

  # sort the movies based on their score
  sorted_scores = sorted(sim_scores , key = lambda x:x[1], reverse = True) # lanbda func to compare the scores which is the second parameter

  # pick the top 10
  top_10 = sorted_scores[1:11]  # starting from 1 because the same movie will be there at 0 index

  # get names of the movie
  indices = [i[0] for i in top_10]

  return data['title_y'].iloc[indices]

In [19]:
recommend_movie('The Conjuring')

1160                 The Conjuring 2
3560                           Ouija
2445                  The Apparition
2306           The Amityville Horror
4137                Grave Encounters
3896                        Sinister
1579               Midnight in Paris
3159    The Texas Chain Saw Massacre
780                             Edtv
1717                      Safe Haven
Name: title_y, dtype: object